vivado/*

benchmarks/*

analyzer/*
#!analyzer/*.py
#!analyzer/*.md

docs/*

asic/*
!asic/*.tcl
!asic/*.sh
!asic/*.md
!asic/*.py
!asic/Makefile

PIRDSP_verilogs/test
PIRDSP_verilogs/GeneratedModels/
PIRDSP_verilogs/MACModels/
PIRDSP_verilogs/Outperform models/
PIRDSP_verilogs/Zips/

__pycache__/
*.pyc

venv36/

experiments

verilog/MLBlock_2Dflex_interconnects.sv
verilog/MLBlock_2Dflex_v2_interconnects.sv
verilog/MLBlock_2Dflex_params.sv
verilog/MLBlock_2Dflex_v2_params.sv
 
TRETS/*
!TRETS/Figures/*

src/*

presentations/*

Alg2Block/tmp/*

